[submodule "node-express-realworld-example-app"]
	path = node-express-realworld-example-app
	url = https://github.com/AppDevFoundry/node-express-realworld-example-app
[submodule "Conduit-SwiftUI"]
	path = Conduit-SwiftUI
	url = https://github.com/AppDevFoundry/Conduit-SwiftUI
[submodule "Conduit-Android-kotlin"]
	path = Conduit-Android-kotlin
	url = https://github.com/AppDevFoundry/Conduit-Android-kotlin
[submodule "next-realworld-example-app"]
	path = next-realworld-example-app
	url = https://github.com/AppDevFoundry/next-realworld-example-app
